<div class="password-page">

    <!-- Page Title -->

    <div class="page-title">

        <h2>Change Password</h2>

        <p>
            Keep your account secure by updating your password regularly.
        </p>

    </div>

    <!-- Password Card -->

    <div class="password-card">

        <!-- Header -->

        <div class="card-header">

            <i class="bi bi-shield-lock-fill"></i>

            <div>

                <h4>Password Security</h4>

                <p>
                    Enter your current password and choose a strong new password.
                </p>

            </div>

        </div>

        <!-- Form -->

        <div class="form-grid">

            <!-- Current Password -->

            <div class="form-group">

                <label>Current Password</label>

                <div class="password-input">

                    <input autocomplete="current-password" [type]="showCurrentPassword ? 'text' : 'password'"
                        [(ngModel)]="passwordData.currentPassword" placeholder="Enter current password">

                    <i class="bi" [ngClass]="showCurrentPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
                        (click)="showCurrentPassword = !showCurrentPassword">
                    </i>

                </div>

            </div>

            <!-- New Password -->

            <div class="form-group">

                <label>New Password</label>

                <div class="password-input">

                    <input autocomplete="new-password" [type]="showNewPassword ? 'text' : 'password'"
                        [(ngModel)]="passwordData.newPassword" placeholder="Enter new password">

                    <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
                        (click)="showNewPassword = !showNewPassword">
                    </i>

                </div>

            </div>

            <!-- Confirm Password -->

            <div class="form-group">

                <label>Confirm New Password</label>

                <div class="password-input">

                    <input autocomplete="new-password" [type]="showConfirmPassword ? 'text' : 'password'"
                        [(ngModel)]="confirmPassword" placeholder="Confirm new password">
                    <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
                        (click)="showConfirmPassword = !showConfirmPassword">
                    </i>

                </div>

            </div>

        </div>

        <!-- Button -->

        <div class="button-area">

            <button class="save-btn" (click)="changePassword()">

                <i class="bi bi-check-circle-fill"></i>

                Update Password

            </button>

        </div>

    </div>

</div>