<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3 class="mb-0">
                🔐 Admin Forgot Password
            </h3>

        </div>

        <div class="card-body">

            <!-- Step 1 -->

            <div *ngIf="!otpSent">

                <div class="mb-3">

                    <label>Email</label>

                    <input type="email" class="form-control" [(ngModel)]="email">

                </div>

                <button class="btn btn-primary w-100" (click)="sendOtp()">

                    Send OTP

                </button>

            </div>

            <!-- Step 2 -->

            <div *ngIf="otpSent && !otpVerified">

                <div class="mb-3">

                    <label>Enter OTP</label>

                    <input type="text" class="form-control" [(ngModel)]="otp">

                </div>

                <button class="btn btn-success w-100" (click)="verifyOtp()">

                    Verify OTP

                </button>

            </div>

            <!-- Step 3 -->

            <div *ngIf="otpVerified">

                <div class="mb-3">

                    <label>New Password</label>

                    <input type="password" class="form-control" [(ngModel)]="newPassword">

                </div>

                <div class="mb-3">

                    <label>Confirm Password</label>

                    <input type="password" class="form-control" [(ngModel)]="confirmPassword">

                </div>

                <button class="btn btn-danger w-100" (click)="resetPassword()">

                    Reset Password

                </button>

            </div>

        </div>

    </div>

</div>