<div class="container mt-5" style="max-width:500px;">

    <div class="card shadow p-4">

        <h3 class="text-center mb-4">
            Forgot Password
        </h3>

        <div *ngIf="step==1">

            <label>Email</label>

            <input type="email" class="form-control mb-3" [(ngModel)]="email">

            <button class="btn btn-primary w-100" (click)="sendOtp()" [disabled]="loading">

                <span *ngIf="loading">
                    <span class="spinner-border spinner-border-sm me-2"></span>
                    Sending OTP...
                </span>

                <span *ngIf="!loading">
                    Send OTP
                </span>

            </button>
        </div>

        <div *ngIf="step==2">

            <label>Enter OTP</label>

            <input class="form-control mb-3" [(ngModel)]="otp">

            <button class="btn btn-success w-100" (click)="verifyOtp()" [disabled]="loading">

                <span *ngIf="loading">
                    <span class="spinner-border spinner-border-sm me-2"></span>
                    Verifying OTP...
                </span>

                <span *ngIf="!loading">
                    Verify OTP
                </span>

            </button>

        </div>

        <div *ngIf="step==3">

            <label>New Password</label>

            <input type="password" class="form-control mb-3" [(ngModel)]="newPassword">

            <button class="btn btn-danger w-100" (click)="resetPassword()">

                Reset Password

            </button>

        </div>

    </div>

</div>